.container {
	display: flex;
	flex-direction: column;
}
.container__forms {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
}

.container__search-buttons {
	display: flex;
	flex-direction: row;
}

.container__form-control {
	max-width: 400px;
}

.container__filtered-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.container__search-buttons-item {
	max-width: 70px;
}
